@media print {
    .cui-navbar {
        display: none
    }
}

.cui-title-bar {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #DCDCDC
}

@media (min-width:768px) {
}

.cui-nav-logo>img {
    display: block
}

@media (min-width:768px) {
}

.cui-navbar .navbar-header .navbar-brand>img,
.navbar .navbar-header .cui-nav-logo>img {
    height: 20px
}

.cui-card>:first-child {
    margin-top: 0
}

.cui-card>:last-child {
    margin-bottom: 0
}

.cui-message>:first-child {
    margin-top: 0
}

.cui-message>:last-child {
    margin-bottom: 0
}

.cui-dashboard {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: 24px
}

.cui-file-text-chooser .file-controls input[type="file"] {
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    -moz-opacity: 0
}

.cui-file-text-chooser .file-controls input[type="text"] {
    margin-right: 8px
}

[class^="cui-icon-"],
[class*=" cui-icon-"] {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cui-navbar .navbar .nav,
.cui-navbar .cui-navbar .nav {
    margin: 0
}

.cui-navbar .navbar .nav>li>a,
.cui-navbar .cui-navbar .nav>li>a {
    padding-left: 10px;
    padding-right: 10px
}

.cui-nav-logo>img {
    height: 20px
}

.cui-flex-page-content-styled>:first-child {
    margin-top: 0
}

.cui-flex-page-content-styled>:last-child {
    margin-bottom: 0
}

.cui-paper {
    border: 1px solid #DCDCDC;
    background-color: #FFFFFF;
    padding: 23px;
    margin-bottom: 12px
}

.cui-paper>:first-child {
    margin-top: 0
}

.cui-paper>:last-child {
    margin-bottom: 0
}

.cui-paper:first-child {
    margin-top: 0
}

.cui-paper:last-child {
    margin-bottom: 0
}

.popover {
    word-wrap: break-word
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

table.cui-table-scrollable tbody {
    display: block;
    overflow: auto;
    width: 100%
}

table.cui-table-scrollable tr:first-child>td {
    border-top: 0
}

table.cui-table-scrollable-header th:last-of-type {
    border-right: 15px solid transparent
}

.cui-title-bar {
    padding: 0 24px;
    margin: 0;
    min-height: 44px;
    background-color: #F8F8F8;
    border-bottom-width: 0;
    -webkit-box-shadow: inset 0 -1px #DCDCDC;
    box-shadow: inset 0 -1px #DCDCDC
}

@media (min-width:1440px) {
}

.cui-wizard-content h2 {
    margin-top: 0
}

@media (min-width:1464px) {
}

@media screen and (min-width:0) and (max-width:960px) {
}

@media screen and (min-width:960px) and (max-width:1440px) {
}

@media screen and (min-width:1440px) and (max-width:10000px) {
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto-300-normal.woff2) format('woff'), url(../fonts/roboto-300-normal.woff) format('woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto-400-normal.woff2) format('woff'), url(../fonts/roboto-400-normal.woff) format('woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/roboto-500-normal.woff2) format('woff'), url(../fonts/roboto-500-normal.woff) format('woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto-700-normal.woff2) format('woff'), url(../fonts/roboto-700-normal.woff) format('woff')
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Mono Light'), local('RobotoMono-Light'), url(../fonts/roboto-mono-300-normal.woff2) format('woff'), url(../fonts/roboto-mono-300-normal.woff) format('woff')
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono-Regular'), url(../fonts/roboto-mono-400-normal.woff2) format('woff'), url(../fonts/roboto-mono-400-normal.woff) format('woff')
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(../fonts/roboto-mono-500-normal.woff2) format('woff'), url(../fonts/roboto-mono-500-normal.woff) format('woff')
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(../fonts/roboto-mono-700-normal.woff2) format('woff'), url(../fonts/roboto-mono-700-normal.woff) format('woff')
}


/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0');
    font-weight: normal;
    font-style: normal
}

.fa-ul>li {
    position: relative
}

.pull-right {
    float: right
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

@font-face {
    font-family: "CM Icons";
    src: url('../fonts/cm-icons_v3.eot');
    src: url('../fonts/cm-icons_v3.eot') format('embedded-opentype'), url('../fonts/cm-icons_v3.woff') format('woff'), url('../fonts/cm-icons_v3.ttf') format('truetype'), url('../fonts/cm-icons_v3.svg#cmiconsregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.cm-icon-status {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cm-icon-status:hover:before {
    opacity: .8;
    filter: alpha(opacity=80)
}

.cm-icon-status-unknown:before {
    content: "\f059";
    color: #787878
}

.cm-icon-status-history-not-available:before {
    content: "\f059";
    color: #787878
}

.cm-icon-status-down:before {
    content: "\f056";
    color: #D0021B
}

.cm-icon-status-stopping {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.cm-icon-status-stopping:before {
    content: "\f110";
    color: #787878
}

.cm-icon-status-starting:before {
    content: "\f110";
    color: #69AC13
}

.cm-icon-status-disabled-health:before {
    content: "\f05e";
    color: #787878
}

.cm-icon-status-stopped:before {
    content: "\f28d";
    color: #787878
}

.cm-icon-status-none:before {
    content: "\f111";
    color: #E0E0E0
}

.cm-icon-status-unknown-health:before {
    content: "\f059";
    color: #787878
}

.cm-icon-status-bad-health:before {
    content: "\f06a";
    color: #D0021B
}

.cm-icon-status-good-health:before {
    content: "\f058";
    color: #69AC13
}

.cm-icon-status-concerning-health:before {
    content: "\f111";
    color: #E99F01
}

@media screen and (max-width:1280px) {
    .navbar .brand {
        padding-right: 10px
    }
    .navbar .nav>li>a {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media screen and (max-width:1160px) {
    .navbar .brand {
        padding-right: 4px
    }
    .navbar .nav>li>a {
        padding-left: 8px;
        padding-right: 8px
    }
    .navbar .systray-container>li>a {
        padding-left: 4px;
        padding-right: 4px
    }
}

.navbar .systray-container {
    margin-right: 4px
}

.navbar .systray-container>li>a {
    padding-left: 10px;
    padding-right: 10px
}

.navbar .link-with-counter {
    position: relative
}

.navbar .link-with-counter span.AutoRefreshableCounter {
    position: absolute;
    opacity: .9;
    filter: alpha(opacity=90);
    font-size: 14px;
    font-weight: bold;
    top: 4px;
    left: 10px
}

.navbar .link-with-counter span.AutoRefreshableCounter span.label {
    padding: 3px 5px;
    position: relative;
    left: 12px
}

.navbar .link-with-counter span.AutoRefreshableCounter span.label-info {
    background-color: #424242;
    color: #FFFFFF
}

.cmf-banner {
    padding: 4px 24px 3px 24px;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 0;
    color: #424242
}

.cmf-banner .cmf-license-message {
    color: #424242
}

.cmf-license-expired.cmf-banner {
    background-color: #D0021B
}

.cmf-license-expired.cmf-banner .cmf-license-message {
    color: #FFFFFF
}

.cmf-license-expired.cmf-banner .cmf-license-message>a {
    color: #FFFFFF
}

.cmf-license-expired.cmf-banner .cmf-license-message>a:hover {
    color: #E0E0E0
}

.env-ribbon {
    width: 100%;
    height: 8px;
    background-image: inherit
}

.env-ribbon--black {
    display: none
}

.env-ribbon--blue {
    background-color: #53B8E4
}

.env-ribbon--darkblue {
    background-color: #2496C7
}

.env-ribbon--green {
    background-color: #0F9D56
}

.env-ribbon--teal {
    background-color: #80DCD5
}

.env-ribbon--purple {
    background-color: #BDA3D6
}

.env-ribbon--pink {
    background-color: #E4689A
}

.env-ribbon--gray {
    background-color: #B4B4B4
}

.env-ribbon--red {
    background-color: #D0021B
}

.env-ribbon--yellow {
    background-color: #E6CF00
}

.env-ribbon--brown {
    background-color: #BA7F00
}

.PageTitle {
    min-height: 39px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #DCDCDC
}

.PageTitle .nav-tabs li .label {
    margin-left: 4px
}

.PageTitle .nav-tabs li .label span,
.PageTitle .nav-tabs li .label i:before {
    color: #FFFFFF
}

.PageTitle .nav-tabs li .label span {
    padding-left: 4px
}

.PageTitle .nav {
    margin-bottom: 0
}

.PageTitle .buttonbar .btn {
    margin-top: 4px
}

.PageTitle .nav-tabs {
    vertical-align: bottom;
    border-bottom-width: 0
}

.PageTitle .nav-tabs>li>a,
.PageTitle .nav-tabs>li>a:visited,
.PageTitle .nav-tabs>li>a:hover {
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: transparent;
    background-color: inherit;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0 4px;
    border-bottom: 4px solid transparent
}

.PageTitle .nav-tabs>li.divider+li>a {
    margin-left: 20px
}

.PageTitle .nav-tabs>li.divider~li>a {
    font-weight: normal
}

.PageTitle .nav-tabs>li>a:hover,
.PageTitle .nav-tabs>li.active>a {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 4px solid #0B7FAD;
    background-color: inherit;
    color: inherit
}

.PageTitle .nav-tabs>li.active>a,
.PageTitle .nav-tabs>li.active>a:hover {
    font-weight: bold
}

.PageTitle .nav-tabs>li.active>a .label,
.PageTitle .nav-tabs>li.active>a:hover .label {
    margin-bottom: -2px
}

.PageTitle .nav-tabs .open .dropdown-toggle {
    color: inherit;
    background-color: transparent
}

.PageTitle .nav-tabs .open .dropdown-toggle .caret {
    border-top-color: inherit !important
}

.PageTitle .nav>li.dropdown.open.active>a:hover,
.PageTitle .nav>li.dropdown.open.active>a:focus {
    color: inherit;
    background-color: transparent
}

.page-title-and-timecontrol .primary-action {
    padding-left: 8px
}

.page-title-and-timecontrol .primary-action>.btn-group {
    position: relative;
    top: -4px
}

.page-title-and-timecontrol .primary-action .cm-badge {
    font-size: 24px;
    padding-left: 4px
}

.page-title-and-timecontrol.GOOD_HEALTHDisplayStatus {
    border-bottom: 4px solid #69AC13;
    padding-bottom: 0
}

.page-title-and-timecontrol>h1 {
    display: inline-block
}

.page-title-and-timecontrol>h1 .health {
    display: inline-block;
    min-width: 24px
}

.page-title-and-timecontrol div.small {
    color: #0B7FAD;
    font-size: inherit;
    display: inline-block
}

.PageTitle {
    padding-left: 20px;
    padding-right: 20px
}

#Main {
    width: 100%;
    position: absolute
}

.cui-wizard-page {
    background-color: #FFFFFF
}

.cui-wizard form {
    width: 100%
}

.Wizard {
    margin: 0 auto 60px auto
}

.Wizard.container {
    padding: 0;
    border-color: transparent;
    border-width: 0
}

.Wizard .alert-standalone {
    margin-bottom: 20px
}

.Wizard .alert-standalone ul {
    margin-bottom: 0
}

.Wizard .tableContainer {
    overflow: auto
}

.Wizard .borderedContainer {
    border: 1px solid #DCDCDC
}

.Wizard #hostnameEntryForm textarea {
    width: 100%;
    height: 80px;
    resize: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.Wizard .buttonContainer {
    text-align: center
}

.Wizard .popupLink {
    vertical-align: text-bottom
}

.Wizard .wizard-step {
    padding-bottom: 64px
}

.step-skipped {
    display: none
}

.step-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 70px
}

.cmfParamState {
    text-align: left;
    margin-right: auto;
    padding: .5ex 0
}

.cmfParamState+p {
    margin-top: 1ex
}

.cmfParamState.error {
    clear: both;
    color: #A60115
}

.cmfParamState.warning {
    clear: both;
    color: #8B572A
}

.cmfParamState.check {
    clear: both;
    color: #49780D
}

.chevron-rotated {
    display: inline-block;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.chevron-rotated:before {
    left: -2px
}

.filter-item-disabled>span>[class^="cm-icon-"]:before,
.filter-item-disabled>span>[class*=" cm-icon-"]:before {
    color: #A0A0A0
}

.table-th-sort-span {
    display: inline-block;
    min-height: 5px;
    width: 9px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: inherit
}

.serviceIcon {
    vertical-align: text-bottom;
    background-repeat: no-repeat;
    text-align: center;
    width: 16px;
    height: 16px;
    display: inline-block;
    padding: 0 2px
}

.ValidationBlock .heading {
    display: inline-block;
    padding: 3px 8px 4px 8px;
    font-weight: bold
}

.ValidationBlock ul {
    padding: 2px 8px 4px 12px
}

.ValidationBlock .heading .icon {
    margin: -1px 3px -3px -2px
}

.ValidationBlock.check .icon {
    content: "\f00c";
    color: #69AC13
}

.ValidationBlock.warning .icon {
    content: "\f071";
    color: #E99F01
}

.ValidationBlock.error .icon {
    content: "\f057";
    color: #D0021B
}

.ui-resizable-w,
.ui-resizable-e {
    cursor: ew-resize;
    width: 8px;
    top: 0;
    height: 100%
}

.ui-resizable-e {
    right: -4px
}

.ui-resizable-w {
    left: -4px
}

.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    display: block;
    z-index: 90
}

.cluster-inner-menu>li>a:hover i:before,
.dropdown-menu>li>a:hover i:before,
li.active>a i:before {
    color: #FFFFFF
}

i.staleness-client_config_deployable:before,
i.staleness-refresh:before {
    color: #0B7FAD
}

i.staleness-stale:before {
    color: #E99F01
}

i.maintainence:before {
    color: #0B7FAD
}

.cui-spinner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a.expand,
a.collapse {
    width: 11px;
    height: 16px
}

.selectRole {
    font-weight: normal
}

.log-info-controls {
    width: 100%
}

.log-info-controls a.expandLogTails,
.log-info-controls a.collapseLogTails {
    color: #424242
}

.log-info-controls ul.inline-links {
    display: inline;
    margin: 0 0 0 1em
}

.log-info-controls ul.inline-links li {
    margin: 0;
    margin-right: .5em;
    display: inline
}

.no-filters .filter-panel {
    display: none
}

.no-filters .filter-panel+.table-panel {
    margin-left: 0
}

.config-and-filters-container .value-info {
    margin: 4px 8px;
    display: inline-block;
    cursor: pointer
}

.config-and-filters-container .hide-validation-control {
    width: 100%;
    text-align: right;
    cursor: pointer
}

.config-and-filters-container .validation-list {
    margin: 0 4px 4px 20px
}

.config-and-filters-container .toggle-message-expansion,
.config-and-filters-container .toggle-all-descriptions,
.config-and-filters-container .toggle-suppressed-warnings {
    color: #186485;
    font-size: 12px;
    cursor: pointer
}

.config-and-filters-container .toggle-message-expansion {
    display: inline-block
}

.config-and-filters-container .toggle-all-descriptions {
    float: right
}

.config-and-filters-container .inline-state-filter {
    cursor: pointer
}

.config-and-filters-container .save-reason {
    width: 240px;
    margin: 0
}

.config-and-filters-container .context-label {
    display: inline-block;
    white-space: pre-wrap
}

.config-and-filters-container .context-name-toggle {
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
    color: #0B7FAD;
    cursor: pointer
}

.config-and-filters-container .edited-count,
.config-and-filters-container .invalid-count,
.config-and-filters-container .saved-count,
.config-and-filters-container .all-read-only-message {
    margin-left: 4px;
    display: inline-block
}

.config-and-filters-container .edited-count {
    color: #186485;
    cursor: pointer
}

.config-and-filters-container .invalid-count {
    color: #A60115;
    cursor: pointer
}

.config-and-filters-container .saved-count {
    color: #186485
}

.config-and-filters-container .all-read-only-message {
    margin-top: 4px;
    color: #0B7FAD
}

.config-and-filters-container .toggle-warnings {
    color: #186485;
    cursor: pointer
}

.config-and-filters-container .error-filter-value.filter-item-active>span {
    color: #A60115
}

.config-and-filters-container .warning-filter-value.filter-item-active>span {
    color: #8B572A
}

.config-and-filters-container .error-filter-value.filter-item-selected>.filter-item-label>i,
.config-and-filters-container .warning-filter-value.filter-item-selected>.filter-item-label>i {
    -webkit-filter: none !important;
    opacity: 1
}

.config-and-filters-container:not(.filter-item-selected).error-filter-value.filter-item-disabled>.filter-item-label>i,
.config-and-filters-container:not(.filter-item-selected).warning-filter-value.filter-item-disabled>.filter-item-label>i {
    -webkit-filter: none !important
}

.config-and-filters-container .table-panel {
    margin-bottom: 60px
}

.param-spec-property {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 12px
}

.param-spec-property .header-column,
.param-spec-property .validation-column,
.param-spec-property .control-column,
.param-spec-property .control-column-expanded,
.param-spec-property .description-column {
    float: left
}

.param-spec-property .header-column {
    width: 5%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 24px
}

.param-spec-property .matching-scale-tip {
    padding-left: 4px
}

.param-spec-property .validation-column {
    width: 77%
}

.param-spec-property .control-column {
    width: 44%
}

.param-spec-property .control-column-expanded {
    width: 72%
}

.param-spec-property .description-column {
    width: 28%;
    color: #787878
}

.param-spec-property .toggle-description-column {
    float: right;
    width: 5%
}

.param-spec-property .property-name {
    font-size: 12px;
    color: #787878;
    word-wrap: break-word
}

.param-spec-property .input-row {
    display: table-row;
    text-align: left
}

.param-spec-property .input-col {
    display: table-cell;
    padding-right: 12px;
    vertical-align: top
}

.param-spec-property .input-alt {
    width: 85%
}

.param-spec-property .modified-controls {
    font-size: 12px;
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px
}

.param-spec-property .input-scale {
    width: 120px
}

.param-spec-property .input-list-label {
    width: 100px
}

.param-spec-property .input-list-label>label {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 12px
}

.param-spec-property .input-list-checkbox {
    position: relative;
    top: -6px;
    margin-bottom: 12px
}

.param-spec-property .input-list {
    width: 96%;
    margin-bottom: 12px
}

.param-spec-property .input-list-btn-col {
    display: table-cell;
    width: 64px
}

.param-spec-property .list-item-table {
    display: table;
    width: 96%
}

.param-spec-property .list-item-table+i,
.param-spec-property .list-item-table+i+i {
    line-height: 38px
}

.param-spec-property .dual-threshold-label {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0
}

.param-spec-property .dual-threshold-input>.input-row:first-child .threshold-input,
.param-spec-property .dual-threshold-input>.input-row:first-child .threshold-select {
    margin-bottom: 12px
}

.param-spec-property .context-container .context-name-toggle,
.param-spec-property .context-container .context-label {
    padding-top: 6px;
    padding-bottom: 6px
}

.param-spec-property .context-container+.context-value {
    position: relative;
    top: -2px
}

.param-spec-property .context-container+.context-value .radio,
.param-spec-property .context-container+.context-value .checkbox {
    padding-top: 2px
}

.param-spec-property .context-controls {
    display: inline-block
}

.param-spec-property .value-read-only-label {
    color: #0B7FAD;
    float: right;
    margin-right: 15%
}

.param-spec-property ul.message-container {
    font-size: 12px;
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0
}

.param-spec-property ul.message-container .error {
    color: #A60115
}

.param-spec-property ul.message-container .warning {
    color: #8B572A
}

.param-spec-property ul.message-container>li:not(:last-child) {
    margin-bottom: 8px
}

.param-spec-property .display-name {
    color: #787878;
    font-weight: bold
}

.param-spec-property.error-property .display-name,
.param-spec-property.error-property .error-value {
    color: #A60115
}

.param-spec-property .error-value input,
.param-spec-property .error-value textarea,
.param-spec-property .error-value select {
    border-color: #A60115
}

.param-spec-property .error-value .context-label {
    color: #A60115
}

.param-spec-property.warning-property .display-name,
.param-spec-property.warning-property .warning-value {
    color: #8B572A
}

.param-spec-property .warning-value>input,
.param-spec-property .warning-value>textarea,
.param-spec-property .warning-value>select {
    border-color: #8B572A
}

.param-spec-property .warning-value .context-label {
    color: #8B572A
}

.param-spec-property .warning-value .modal {
    color: #424242
}

.param-spec-property .restart-label,
.param-spec-property .combine-label,
.param-spec-property .manage-overrides-label,
.param-spec-property .modified-label {
    font-size: 12px;
    color: #0B7FAD;
    cursor: pointer
}

.param-spec-property .read-only-value {
    display: inline-block;
    overflow-x: auto;
    cursor: default;
    word-wrap: normal;
    white-space: pre;
    color: #787878;
    background: #F8F8F8;
    border: none;
    width: 85%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

a.action {
    cursor: pointer
}

.list-actions {
    text-align: right;
    margin-right: 12px;
    margin-bottom: 4px
}

.param-spec-generic-rule-list .muted-icon {
    opacity: .6
}

.param-spec-generic-rule-list .control-label {
    width: 112px;
    overflow: hidden;
    text-overflow: ellipsis
}

.param-spec-generic-rule-list .controls {
    margin-left: 120px
}

.param-spec-generic-rule-list .control-group {
    margin-bottom: 8px
}

.param-spec-generic-rule-list .rule-content {
    position: relative;
    border-bottom: 1px solid #F8F8F8
}

.param-spec-generic-rule-list .rule-content .control-group:last-of-type {
    margin-bottom: 12px
}

.param-spec-generic-rule-list .no-rules {
    padding: 4px
}

.param-spec-generic-rule-list .no-rules .add {
    float: right
}

.param-spec-generic-rule-list .rule-title {
    width: 90%;
    text-indent: -20px;
    margin-left: 20px;
    word-wrap: break-word;
    padding: 4px
}

.param-spec-generic-rule-list .rule-list {
    border: 1px solid #F8F8F8;
    background-color: #FFFFFF;
    margin-right: 12px;
    overflow: hidden;
    overflow-y: auto
}

.param-spec-generic-rule-list .rule-list.can-overflow {
    overflow: visible
}

.param-spec-generic-rule-list .rule-list div:last-of-type .rule-content {
    border: none
}

.param-spec-generic-rule-list .rule-control {
    float: right;
    margin: 4px 4px 0 4px
}

.param-spec-generic-rule-list .global-values {
    margin-top: 12px
}

.param-spec-generic-rule-list .key-value-pair-table {
    width: 90%;
    margin-top: 0
}

.param-spec-generic-rule-list .key-value-pair-table .action-col {
    width: 40px
}

.param-spec-generic-rule-list .key-value-pair-table th,
.param-spec-generic-rule-list .key-value-pair-table td {
    border: none;
    padding-left: 0
}

.param-spec-generic-rule-list .summary-item {
    margin-right: 4px
}

.param-spec-generic-rule-list .summary-item .property {
    color: #A0A0A0
}

.param-spec-generic-rule-list .json-editor-container {
    margin-right: 12px;
    position: relative
}

textarea.full-width {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%
}

.navigator-event-filter-paramspec .control-label {
    width: 88px
}

.navigator-event-filter-paramspec .controls {
    margin-left: 100px
}

.navigator-event-tracker-paramspec .control-label {
    width: 80px
}

.navigator-event-tracker-paramspec .controls {
    margin-left: 88px
}

.redaction-policy-testing-toolbox {
    border: 1px solid #F8F8F8;
    background-color: #FFFFFF;
    margin-right: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset
}

.redaction-policy-testing-toolbox .title h5 {
    padding: 8px
}

.redaction-policy-testing-toolbox .content {
    margin: 12px 16px
}

.redaction-policy-testing-toolbox .content div {
    margin-top: 12px
}

.redaction-policy-testing-toolbox .output pre {
    font-size: 12px;
    padding: 4px 8px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1) inset
}

.modal-content .param-spec-property .control-and-description {
    margin-left: 20%;
    padding-left: 24px
}

@media (min-width:1200px) {
    .modal-content .param-spec-property .control-and-description .control-column {
        width: 60%
    }
    .modal-content .param-spec-property .control-and-description .description-column {
        width: 40%
    }
}

@media (max-width:1200px) {
    .modal-content .param-spec-property .control-and-description .control-column {
        float: none;
        width: inherit
    }
    .modal-content .param-spec-property .control-and-description .description-column {
        float: none;
        width: inherit
    }
}

.modal-content .param-spec-property .control-and-description .toggle-description-column {
    display: none
}

.validation-message-container .toggle-suppressed {
    margin-bottom: 16px;
    margin-right: 4px;
    display: inline-block
}

.LicenseStatus .summary {
    font-weight: bold
}

.redStatus {
    color: #A60115
}

.collapse-toggle .collapse-toggle-show {
    display: none
}

.collapse-toggle .collapse-toggle-hide {
    display: inline-block
}

.collapse-toggle.collapsed .collapse-toggle-show {
    display: inline-block
}

.collapse-toggle.collapsed .collapse-toggle-hide {
    display: none
}

.health-check-table {
    font-size: 13px;
    border: 1px solid #DCDCDC;
    border-top: none;
    margin-bottom: 4px
}

.health-check-table li {
    padding: 7px 8px 8px 8px;
    border-top: 1px solid #DCDCDC
}

.health-check-table .test-desc {
    padding-left: 20px
}

.service-health-tests-region2 .loading {
    padding: 8px 8px
}

.service-health-tests-region2 .health-container {
    border: 1px solid #DCDCDC;
    border-top: none;
    margin-bottom: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.service-health-tests-region2 .health-container ul.reports {
    font-size: 13px;
    margin: 0;
    margin-bottom: 4px
}

.service-health-tests-region2 .health-container ul.reports>li {
    padding: 7px 8px 8px 8px;
    border-top: 1px solid #DCDCDC;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.service-health-tests-region2 .health-container ul.reports>li:last-child {
    border-bottom: none
}

.service-health-tests-region2 .health-container .header {
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0
}

.service-health-tests-region2 .health-container .header .header-link {
    display: table-cell;
    width: 30%
}

.service-health-tests-region2 .health-container .header ul {
    display: table-cell
}

.service-health-tests-region2 .health-container .health-not-available {
    padding: 12px
}

.service-health-tests-region2 ul.tests {
    margin: 0
}

.service-health-tests-region2 ul.tests li {
    padding: 2px 12px 2px 24px;
    border-top: 1px solid #F8F8F8
}

.service-health-tests-region2 ul.tests li .test-title {
    margin-right: 100px
}

.service-health-tests-region2 ul.tests li .link-with-counter {
    float: right;
    margin-left: 20px;
    min-width: 32px
}

.service-health-tests-region2 ul.tests li .error span,
.service-health-tests-region2 ul.tests li .warning span {
    color: #A60115
}

.service-health-tests-region2 ul.tests li .warning span {
    color: #8B572A
}

.service-health-tests-region2 div.showTooltip,
.service-health-tests-region2 [class^="icon-"] {
    cursor: default
}

.LandingPage .time-range-selector .buttons a {
    display: none
}

.LandingPage .Toggler:hover {
    background-color: inherit
}

.LandingPage .off {
    visibility: hidden
}

.LandingPage .display-status {
    padding-right: 10px
}

.LandingPage .cluster td.cluster-title-name,
.LandingPage .name-column {
    width: 140px;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis
}

@media (min-width:800px) {
    .LandingPage .status-and-charts .status-pane {
        width: 400px;
        float: left
    }
    .LandingPage .status-and-charts .status-pane .service td.service-status-and-name,
    .LandingPage .status-and-charts .status-pane .hosts td.host-status-and-name {
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .LandingPage .status-and-charts .charts-pane {
        margin-top: 0;
        margin-left: 424px
    }
}

.LandingPage .status-and-charts .status-pane .status-table {
    margin-right: 0;
    width: inherit
}

.LandingPage .status-and-charts .status-pane .status-table td.badges-column {
    width: 168px;
    padding-left: 4px;
    padding-right: 4px
}

.LandingPage .status-and-charts .status-pane .status-table td.badges-column ul.counter-icon-list {
    margin: 0 -8px
}

.LandingPage .status-and-charts .status-pane .status-table td.badges-column ul.counter-icon-list li {
    margin-left: 4px;
    display: inline-block
}

.LandingPage .status-and-charts .status-pane .status-table td.badges-column ul.counter-icon-list li .error span,
.LandingPage .status-and-charts .status-pane .status-table td.badges-column ul.counter-icon-list li .warning span,
.LandingPage .status-and-charts .status-pane .status-table td.badges-column ul.counter-icon-list li .error i:before,
.LandingPage .status-and-charts .status-pane .status-table td.badges-column ul.counter-icon-list li .warning i:before {
    color: #D0021B
}

.LandingPage .status-and-charts .status-pane .status-table td.badges-column ul.counter-icon-list li .warning span,
.LandingPage .status-and-charts .status-pane .status-table td.badges-column ul.counter-icon-list li .warning i:before {
    color: #E99F01
}

.LandingPage .status-and-charts .status-pane .status-table td.badges-column ul.counter-icon-list li a {
    margin-left: 0
}

.LandingPage .status-and-charts .status-pane .status-table td.badges-column ul.counter-icon-list li a .label.counter {
    min-width: 16px;
    text-align: center
}

.LandingPage .status-and-charts .status-pane .status-table td.badges-column ul.counter-icon-list li div.fixed-size {
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    display: inline-block;
    text-align: center
}

.LandingPage .status-and-charts .charts-pane section.chart-section .chart-section-heading {
    padding: 10px 6px 10px 6px;
    border-bottom-width: 0
}

.LandingPage .status-pane .cluster-drop-down {
    padding-left: 8px
}

.LandingPage .status-pane .cluster-name {
    width: 372px
}

.LandingPage .status-pane .cluster-name .display-status {
    padding-right: 8px
}

.LandingPage .status-pane .cluster-name a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    max-width: 140px
}

.LandingPage .status-pane .cluster-name small {
    font-size: 12px;
    white-space: nowrap
}

.LandingPage .toggler {
    cursor: pointer
}

.LandingPage .clusterListHeader ul.headerItems {
    margin-bottom: 0
}

.LandingPage .clusterListHeader ul.headerItems li {
    display: inline-block;
    padding: 0 6px 5px 0
}

.LandingPage .failed-messages-container {
    margin: -24px -24px 12px -24px
}

.LandingPage .all-health-issues .health-filter-toggle {
    display: inline-block;
    margin-left: 12px
}

.LandingPage .all-health-issues>.btn-group {
    margin-top: 12px;
    margin-bottom: 12px
}

.LandingPage .entity-name {
    display: inline-block;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle
}

.LandingPage .suppressed-toggle {
    display: inline-block;
    margin-left: 12px
}

.config-issues .toggle-suppressed {
    margin-top: 20px
}

.time-range-selector {
    display: inline-block;
    border: 1px solid #DCDCDC
}

.time-range-selector .time-label {
    padding: 0 2px;
    white-space: nowrap;
    font-weight: bold;
    color: #787878
}

.time-range-selector .time-label:hover {
    color: #A0A0A0
}

.time-range-selector .nav-pills {
    border-top: 1px solid #DCDCDC
}

.time-range-selector .nav-pills li {
    float: left
}

.time-range-selector .nav-pills li a {
    display: block;
    width: 52px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border-right: 1px solid #DCDCDC;
    color: #424242;
    font-size: 12px
}

.time-range-selector .nav-pills li:last-child a {
    border: 0
}

.time-range-selector .nav-pills>.active>a,
.time-range-selector .nav-pills>.active>a:hover,
.time-range-selector .nav-pills>.active>a:focus {
    background-color: #F8F8F8;
    color: #424242
}

.time-range-selector .content {
    font-size: 12px;
    display: inline-block
}

@media (max-width:1000px) {
    .time-range-selector .content {
        width: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 24px;
        line-height: 24px;
        vertical-align: middle
    }
}

.time-range-selector .buttons {
    display: inline-block
}

.time-range-selector .buttons a {
    padding: 0 2px
}

.currentMode .time-range-selector .next,
.currentMode .time-range-selector .now {
    cursor: default;
    color: #DCDCDC
}

#cmsTimeRangeSelection {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 0
}

#cmsTimeRangeSelection.nav-pills>.active>a,
#cmsTimeRangeSelection.nav-pills>.active>a:visited,
#cmsTimeRangeSelection.nav-pills>.active>a:hover,
#cmsTimeRangeSelection.nav-pills>.active>a:focus {
    background-color: inherit;
    font-weight: bold;
    color: inherit
}

#cmsTimeRangeSelection.nav-pills>li>a {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px
}

#timeControlMini {
    position: relative
}

#timeControlMini .time-range-selector {
    border: 1px solid transparent;
    position: absolute;
    right: 0;
    z-index: 600;
    white-space: nowrap
}

#timeControlMini .time-range-selector .time-ranges a {
    height: 28px
}

#timeControlMini .time-range-selector i.lock-duration {
    cursor: default;
    opacity: .8;
    filter: alpha(opacity=80)
}

#timeControlMini .time-slider-toggler {
    display: inline-block;
    padding: 0
}

.timeControlContainer {
    overflow: hidden;
    height: 40px;
    margin-left: -24px;
    margin-right: -24px
}

.TimeBrowser .timeControl {
    width: 100%;
    background-color: inherit
}

.TimeBrowser .timeControl .filler {
    height: 18px
}

.TimeBrowser td {
    vertical-align: top;
    background-color: inherit
}

.dateTimeSelection td {
    margin-right: 8px
}

.TimeBrowser td {
    vertical-align: top
}

.TimeBrowser .buttonContainer {
    padding-top: 10px;
    padding-right: 12px;
    height: 40px;
    background-color: inherit
}

.TimeBrowser .buttonContainer a {
    padding: 0 2px
}

#cmsTimeControl {
    height: 40px;
    position: relative;
    display: inline-block
}

#cmsTimeControl .chart-title-bar,
#cmsTimeControl .chart-footer {
    display: none
}

#cmsTimeControl path.area {
    fill: #29A7DE !important
}

#cmsTimeControl .plot-container {
    position: absolute;
    display: block;
    height: 40px;
    top: 0
}

#cmsTimeControl .chart-container {
    padding: 0
}

#cmsTimeControl .chart-container .chart {
    left: 0
}

#cmsTimeControl .chart-container .yAxis {
    display: none
}

#cmsTimeControl .chart-container,
#cmsTimeControl .chart-container:hover {
    border: none;
    background-color: inherit
}

#cmsTimeControl .chart-container .empty-chart-label,
#cmsTimeControl .chart-container:hover .empty-chart-label {
    display: none
}

#cmsTimeControl .chart-container .chart,
#cmsTimeControl .chart-container:hover .chart,
#cmsTimeControl .chart-container .yAxis,
#cmsTimeControl .chart-container:hover .yAxis {
    display: block
}

#cmsTimeControl .rickshaw_graph .x_tick {
    z-index: 200;
    bottom: 20px;
    color: #424242;
    height: 40px
}

#cmsTimeControl .rickshaw_graph .x_tick .title {
    position: relative;
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100)
}

#cmsTimeControl .yAxisLabel {
    visibility: hidden;
    display: none
}

#cmsTimeControl .rickshaw_graph .x_tick:last-child {
    width: 0;
    height: 0;
    visibility: hidden;
    display: none
}

#cmsTimeControl .mask,
#cmsTimeControl .left,
#cmsTimeControl .right {
    height: 38px;
    display: inline-block;
    position: absolute;
}

#cmsTimeControl .left,
#cmsTimeControl .right {
    border: 1px solid #212121;
    background-color: #DCDCDC;
    opacity: .7;
    filter: alpha(opacity=70)
}

#cmsTimeControl .left i,
#cmsTimeControl .right i {
    position: absolute;
    top: 10px
}

#cmsTimeControl .mask {
    z-index: 150;
    left: 0;
    right: 0;
    border-width: 1px 0 0 0
}

#cmsTimeControl .left {
    z-index: 100;
    left: 0;
    border-width: 1px 1px 0 0
}

#cmsTimeControl .left i {
    right: -5px
}

#cmsTimeControl .right {
    z-index: 100;
    border-width: 1px 0 0 1px
}

#cmsTimeControl .right i {
    left: -5px
}

input.number {
    text-align: right
}

input:invalid,
textarea:invalid {
    border-color: #A60115
}

.externalLink,
.popupLink {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 4px;
    color: #0B7FAD
}

.externalLink:hover:before,
.popupLink:hover:before {
    opacity: .8;
    filter: alpha(opacity=80)
}

.externalLink:before {
    content: "\f08e"
}

.popupLink:before {
    content: "\f2d0"
}

.removeFilter,
.addFilter,
.Toggler {
    cursor: pointer
}

.Toggler:hover {
    background-color: #F8F8F8
}

td {
    vertical-align: top
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DCDCDC;
    padding: 0
}

.h1-toolbar {
    line-height: 48px
}

.h2-toolbar {
    margin-top: 10px;
    margin-bottom: 0
}

.h2-toolbar {
    margin-top: 10px;
    margin-bottom: 0
}

.h3-toolbar {
    margin-top: 10px;
    margin-bottom: 0
}

.paragraph-md {
    max-width: 800px
}

.width1of1 {
    width: 100%
}

.width1of2 {
    width: 50%
}

.width1of3 {
    width: 33.33%
}

.width2of3 {
    width: 66.66%
}

.width1of4 {
    width: 25%
}

.width3of4 {
    width: 75%
}

.width1of10 {
    width: 10%
}

.widthMin {
    width: 1%
}

.heatmap .range-0 {
    background-color: #29A7DE;
    border-color: #29A7DE
}

.heatmap.highlight-range-0 .range-0,
.heatmap .range-0:hover {
    border-color: #A0A0A0
}

.heatmap .range-1 {
    background-color: #2496C7;
    border-color: #2496C7
}

.heatmap.highlight-range-1 .range-1,
.heatmap .range-1:hover {
    border-color: #A0A0A0
}

.heatmap .range-2 {
    background-color: #1C749B;
    border-color: #1C749B
}

.heatmap.highlight-range-2 .range-2,
.heatmap .range-2:hover {
    border-color: #A0A0A0
}

.heatmap .range-3 {
    background-color: #186485;
    border-color: #186485
}

.heatmap.highlight-range-3 .range-3,
.heatmap .range-3:hover {
    border-color: #A0A0A0
}

.heatmap .range-4 {
    background-color: #36454F;
    border-color: #36454F
}

.heatmap.highlight-range-4 .range-4,
.heatmap .range-4:hover {
    border-color: #A0A0A0
}

.heatmap .state-good {
    background-color: #0F9D56;
    border-color: #0F9D56
}

.heatmap.highlight-good .state-good,
.heatmap .state-good:hover {
    border-color: #0A6E3C;
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25)
}

.heatmap .state-concerning {
    background-color: #EDB233;
    border-color: #EDB233
}

.heatmap.highlight-concerning .state-concerning,
.heatmap .state-concerning:hover {
    border-color: #EBA81A;
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25)
}

.heatmap .state-bad {
    background-color: #D0021B;
    border-color: #D0021B
}

.heatmap.highlight-bad .state-bad,
.heatmap .state-bad:hover {
    border-color: #910112;
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25)
}

.heatmap .state-unknown {
    background-color: #C8C8C8;
    border-color: #C8C8C8
}

.heatmap.highlight-unknown .state-unknown,
.heatmap .state-unknown:hover {
    border-color: #B4B4B4;
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25)
}

.heatmap .state-disabled {
    background-color: #FFFFFF;
    border-color: #C8C8C8
}

.heatmap.highlight-disabled .state-disabled,
.heatmap .state-disabled:hover {
    border-color: #B4B4B4;
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.25)
}

.heatmap .state-standby {
    background-color: #1C749B;
    border-color: #1C749B
}

.heatmap.highlight-standby .state-standby,
.heatmap .state-standby:hover {
    border-color: #A0A0A0
}

.heatmap .legend {
    margin-bottom: 5px
}

.heatmap .legend label {
    display: inline-block;
    vertical-align: middle;
    height: 20px
}

.heatmap .legend .sample {
    display: inline-block;
    height: 14px;
    width: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px
}

.heatmap .cells {
    line-height: 16px
}

.heatmap .cells .group {
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px
}

.heatmap .cells .cell {
    margin-right: 3px;
    border-style: solid;
    display: inline-block;
    border-width: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 20px;
    height: 20px
}

.heatmap label {
    color: #424242
}

.popover {
    z-index: 1060
}

.health-history-container {
    max-height: 240px;
    overflow-y: auto
}

.health-history-table a {
    cursor: pointer
}

.health-history-table tbody ul.health-checks {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.health-history-table tbody ul.health-checks li {
    margin: 0;
    padding: 0
}

.health-history-table tbody .good_healthStatus {
    color: #49780D
}

.health-history-table tbody .concerning_healthStatus {
    color: #8B572A
}

.health-history-table tbody .bad_healthStatus {
    background-color: #FBF5F5;
    color: #A60115
}

.health-history-table tbody .disabled_healthStatus {
    background-color: #F8F8F8
}

.health-history-table tbody .unknown_healthStatus {
    background-color: #F8F8F8
}

.health-history-table ul {
    list-style-type: none;
    margin: 0 24px 12px 24px
}

.health-history-table ul li {
    padding: 4px 12px 4px 12px
}

.historical-suppress-popover {
    height: 80px;
    min-width: 280px
}

.health-tests-region .health-test-suppression-toggle {
    height: 20px
}

.health-tests-region .health-test-suppression-toggle div {
    float: right
}

.health-tests-region .health-test-suppression-toggle a {
    font-size: 12px
}

.health-tests-region .expansionLine {
    display: block
}

.health-tests-region .expandAllLink {
    display: inline
}

.health-tests-region .collapseAllLink {
    display: none
}

.health-tests-region .checksExpanded ul {
    display: block
}

.health-tests-region .checksExpanded .expandAllLink {
    display: none
}

.health-tests-region .checksExpanded .collapseAllLink {
    display: inline
}

.health-tests-region .health-checks-not-available-message {
    border: 1px solid #DCDCDC;
    padding-left: 4px
}

.error-dialog {
    z-index: 1250
}

.confirmation-dialog {
    z-index: 1150
}

.query-feedback {
    margin: 0 -23px 24px -23px;
    text-shadow: none
}

.query-feedback h4 {
    color: #424242
}

.query-feedback ul {
    margin-left: 16px
}

.query-feedback ul li {
    margin-top: 4px
}

.query-feedback ul li.expanded-content {
    display: none
}

.query-feedback ul li.collapser {
    display: none;
    margin-bottom: 10px;
    border-top: none;
    border-bottom: 1px solid #DCDCDC
}

.query-feedback.show-all ul li.expanded-content {
    display: list-item
}

.query-feedback.show-all ul li.collapser {
    display: list-item
}

.query-feedback.query-errors {
    display: none
}

.query-feedback.query-warnings {
    display: none
}

.CapacityUsage {
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: auto 0 auto 0;
    font-size: 12px;
    line-height: 12px;
    background-color: #b4b4b4;
    background: -moz-linear-gradient(top, #B4B4B4, #B4B4B4);
    background: -webkit-gradient(linear, left top, left bottom, from(#B4B4B4), to(#B4B4B4));
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#B4B4B4, EndColorStr=#B4B4B4)";
    filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#B4B4B4, EndColorStr=#B4B4B4)"
}

.CapacityUsage .reading {
    display: block;
    position: relative;
    top: 2px;
    z-index: 1;
    height: 12px;
    border: 1px solid transparent;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF
}

.CapacityUsage .bluebar,
.CapacityUsage .greenbar,
.CapacityUsage .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.CapacityUsage.priorityLow .bar {
    background-color: #65b965;
    background: -moz-linear-gradient(top, #96C55A, #33AC6F);
    background: -webkit-gradient(linear, left top, left bottom, from(#96C55A), to(#33AC6F));
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#96C55A, EndColorStr=#33AC6F)";
    filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#96C55A, EndColorStr=#33AC6F)"
}

.CapacityUsage.priorityMed .bar {
    background-color: #ab8800;
    background: -moz-linear-gradient(top, #B3A100, #A36F00);
    background: -webkit-gradient(linear, left top, left bottom, from(#B3A100), to(#A36F00));
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#B3A100, EndColorStr=#A36F00)";
    filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#B3A100, EndColorStr=#A36F00)"
}

.CapacityUsage.priorityHigh .bar {
    background-color: #bb0218;
    background: -moz-linear-gradient(top, #D0021B, #A60115);
    background: -webkit-gradient(linear, left top, left bottom, from(#D0021B), to(#A60115));
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#D0021B, EndColorStr=#A60115)";
    filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#D0021B, EndColorStr=#A60115)"
}

.CapacityUsage.progress .bar,
.CapacityUsage.progress .greenbar {
    background-color: #65b965;
    background: -moz-linear-gradient(top, #96C55A, #33AC6F);
    background: -webkit-gradient(linear, left top, left bottom, from(#96C55A), to(#33AC6F));
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#96C55A, EndColorStr=#33AC6F)";
    filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#96C55A, EndColorStr=#33AC6F)"
}

.CapacityUsage.progress .bluebar {
    background-color: #188bba;
    background: -moz-linear-gradient(top, #2496C7, #0B7FAD);
    background: -webkit-gradient(linear, left top, left bottom, from(#2496C7), to(#0B7FAD));
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#2496C7, EndColorStr=#0B7FAD)";
    filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#2496C7, EndColorStr=#0B7FAD)"
}

@media print {
    .CapacityUsage.progress .greenbar {
        background: none;
        border-bottom: 16px solid #33AC6F
    }
    .CapacityUsage.progress .bluebar {
        background: none;
        border-bottom: 16px solid #0B7FAD
    }
}

.usage {
    position: relative;
    margin: 0;
    line-height: 13px
}

.usage .usage-reading {
    z-index: 2;
    display: block;
    font-size: 12px;
    position: relative;
    padding-bottom: 3px;
    border: 1px solid transparent;
    text-align: center;
    color: #424242;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.usage .usage-bar,
.usage .usage-bar-rest {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px
}

.usage .usage-bar {
    z-index: 1
}

.usage .usage-bar-rest {
    z-index: 0;
    background-color: #DCDCDC
}

.usage .usage-medium {
    background-color: #E99F01
}

.usage .usage-high {
    background-color: #D0021B
}

.usage .usage-low {
    background-color: #69AC13
}

.usage .usage-regular {
    background-color: #186485
}

@media print {
    .usage .usage-medium {
        background: none;
        border-bottom: 2px solid #E99F01
    }
    .usage .usage-high {
        background: none;
        border-bottom: 2px solid #D0021B
    }
    .usage .usage-low {
        background: none;
        border-bottom: 2px solid #69AC13
    }
    .usage .usage-regular {
        background: none;
        border-bottom: 2px solid #186485
    }
}

.inlineBlock {
    display: inline-block
}

.alignLeft {
    text-align: left
}

.center,
.alignCenter {
    text-align: center
}

.alignRight {
    text-align: right
}

.valignTop {
    vertical-align: top
}

.valignMiddle {
    vertical-align: middle
}

.valignBottom {
    vertical-align: bottom
}

.nowrap {
    white-space: nowrap
}

.floatLeft {
    float: left
}

.floatRight {
    float: right
}

.clearBoth {
    clear: both
}

.no-margin {
    margin: 0
}

.keyValue dt {
    color: #787878;
    font-weight: bold;
    float: left;
    padding: 4px 10px 4px 6px
}

.keyValue dd {
    clear: right;
    padding: 4px 6px
}

.ui-layout-pane {
    background: #FFFFFF;
    overflow: auto
}

.ui-layout-content {
    position: relative;
    overflow: auto
}

.ui-layout-resizer {
    background: #DCDCDC;
    border-width: 0
}

.ui-layout-resizer-open-hover,
.ui-layout-resizer-dragging {
    background: #69AC13
}

.ui-layout-resizer-dragging {
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC
}

.ui-layout-resizer-dragging-limit {
    background: #FBF5F5
}

.ui-layout-resizer-closed-hover {
    background: #FFE8AF
}

.ui-layout-resizer-sliding {
    opacity: .1;
    filter: alpha(opacity=10)
}

.ui-layout-resizer-sliding-hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.ui-layout-resizer-north-sliding-hover {
    border-bottom-width: 1px
}

.ui-layout-resizer-south-sliding-hover {
    border-top-width: 1px
}

.ui-layout-resizer-west-sliding-hover {
    border-right-width: 1px
}

.ui-layout-resizer-east-sliding-hover {
    border-left-width: 1px
}

.ui-layout-toggler {
    border: 1px solid #DCDCDC;
    background-color: #DCDCDC
}

.ui-layout-resizer-hover .ui-layout-toggler {
    opacity: .6;
    filter: alpha(opacity=60)
}

.ui-layout-toggler-hover,
.ui-layout-resizer-hover .ui-layout-toggler-hover {
    background-color: #FFD466;
    opacity: 1;
    filter: alpha(opacity=100)
}

.ui-layout-toggler-north,
.ui-layout-toggler-south {
    border-width: 0 1px
}

.ui-layout-resizer-sliding ui-layout-toggler {
    display: none
}

.ui-layout-toggler .content {
    color: #787878;
    font-weight: bold;
    width: 100%;
    padding-bottom: .35ex
}

.CMFValue .value {
    word-wrap: break-word
}

.CMFValue .default {
    color: #A0A0A0
}

.CMFValue .criticalThreshold label,
.CMFValue .warningThreshold label {
    display: inline-block
}

.treeTable tr.selected a,
.treeTable tr.accept a,
.treeTable tr.selected td a,
.treeTable tr.accept td a,
.treeTable tr.selected a:visited,
.treeTable tr.accept a:visited,
.treeTable tr.selected td a:visited,
.treeTable tr.accept td a:visited,
.treeTable tr.selected a:focus,
.treeTable tr.accept a:focus,
.treeTable tr.selected td a:focus,
.treeTable tr.accept td a:focus,
.treeTable tr.selected a:hover,
.treeTable tr.accept a:hover,
.treeTable tr.selected td a:hover,
.treeTable tr.accept td a:hover {
    font-weight: bold;
    color: #FFFFFF
}

.paragraph {
    max-width: 30em;
    overflow-x: auto
}

.daterangepicker .calendar-table .table-condensed th,
.daterangepicker .calendar-table .table-condensed td {
    padding-left: 0;
    padding-right: 0
}

.daterangepicker .calendar th,
.daterangepicker .calendar td {
    white-space: nowrap;
    text-align: center;
    min-width: 32px
}

.daterangepicker table {
    width: 100%;
    margin: 0
}

.daterangepicker td,
.daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer
}

.daterangepicker td.week,
.daterangepicker th.week {
    font-size: 80%;
    color: #C8C8C8
}

.daterangepicker select.yearselect {
    width: 40%
}

.daterangepicker .daterangepicker_input i {
    position: absolute;
    left: 8px;
    top: 8px
}

.daterangepicker.rtl .daterangepicker_input i {
    left: auto;
    right: 8px
}

.ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%
}

.ranges li {
    font-size: 13px;
    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
    border-radius: 4px;
    color: #0B7FAD;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer
}

.ranges li:hover {
    background-color: #0B7FAD;
    border: 1px solid #0B7FAD;
    color: #FFFFFF
}

@media (min-width:564px) {
    .daterangepicker .ranges ul {
        width: 160px
    }
    .daterangepicker.single .ranges ul {
        width: 100%
    }

}

@media (min-width:730px) {
}

#events select {
    width: 200px
}

#events input[type=text] {
    width: 200px
}

#logSearchControlsOuterContainer #sourcesSelector {
    color: inherit;
    border: 1px solid #DCDCDC;
    padding: 6px 4px 7px 4px;
    margin-right: 20px
}

#logSearchControlsOuterContainer #logSearchHosts,
#logSearchControlsOuterContainer #logSearchLevel {
    margin-right: 20px;
    display: inline-block
}

#logSearchControlsOuterContainer #logSearchHosts label,
#logSearchControlsOuterContainer #logSearchLevel label {
    margin-right: 6px
}

#logSearchControlsOuterContainer #logSearchSources {
    margin-top: 7px;
    padding: 8px;
    border: 1px solid #DCDCDC
}

#logSearchControlsOuterContainer #logSearchSources .selectAllOrNone {
    margin-bottom: 10px;
    display: inline-block
}

#logSearchControlsOuterContainer #additionalSettingsPopupSelector {
    margin-left: 20px;
    margin-right: 20px
}

.history-search #eventFilters select,
.history-search #eventFilters input,
.history-search #eventFilters p {
    margin-bottom: 0
}

.history-search .event-filters select {
    width: 100%
}

.history-search .event-filters .no-filters p {
    display: inline-block
}

.history-search .event-filters .event-filter>div {
    float: left;
    min-height: 30px
}

.history-search .event-filters .event-filter .operator p {
    margin-top: 4px;
    text-align: center
}

.history-search .event-filters .event-filter .operator select {
    width: 100%
}

.history-search .event-filters .event-filter .value {
    width: 300px;
    margin-right: 6px
}

.history-search .event-filters .event-filter .value input {
    width: 90%
}

.history-search .controls>button {
    display: inline-block;
    margin-right: 8px
}


.history-search .event-list li strong,
.history-search .event-list li span {
    padding-right: 10px
}

.history-search .event-list li a.filter i:before {
    font-size: 10px;
    color: #0B7FAD
}

.history-search .event-list li a:hover {
    cursor: pointer
}

.history-search .event-list li .result ul.healthChecks li {
    padding: 0 0 5px 0
}

.history-search .event-list li .timestamp p {
    margin: 0
}

.history-search .event-list li .eventDetails dt {
    font-weight: bold;
    color: #A0A0A0
}

.history-search .event-list li .eventDetails .healthTestDetails h4,
.history-search .event-list li .eventDetails .healthTestDetails h5 {
    font-size: inherit;
    margin-top: 0;
    margin-bottom: 0
}

.history-search .event-list li .eventDetails .healthTestDetails .resultsDetails ul {
    list-style-type: none
}

.history-search .event-list li .eventDetails .healthTestDetails .resultsDetails ul li {
    padding: 0
}

.cmfStdout {
    width: auto;
    overflow: auto
}

.cmfStdout>pre {
    overflow: auto
}

.LogTails pre {
    word-break: break-all;
    background-color: #F8F8F8;
    border-top-width: 0
}

.dataTables_paginate .paginate_button {
    cursor: pointer;
    color: #0B7FAD
}

.dataTables_paginate .paginate_button_disabled {
    padding: 8px 8px;
    color: #787878
}

.dataTables_paginate .next:before {
    content: '>'
}

.dataTables_length select {
    width: auto;
    padding-top: 6px
}

.dataTables_info {
    padding: 8px;
    float: left;
    color: #787878;
    display: inline-block
}

.RulesBuilder td {
    vertical-align: middle;
    padding: 0 8px 8px 8px;
    border-top-color: transparent
}

.RulesBuilder td label,
.RulesBuilder td input,
.RulesBuilder td select {
    margin: 0
}

.RulesBuilder td label[generated="true"].error {
    display: none !important
}

.lastRefreshed {
    white-space: nowrap;
    font-weight: bold;
    color: #424242;
    text-shadow: none
}

.lastRefreshed i {
    opacity: .8;
    filter: alpha(opacity=80)
}

.clickable:hover {
    color: #186485
}

body.currentMode .historicalModeOnly .btn,
body.currentMode .historicalModeOnly .dropdown-menu,
body.historicalMode .currentModeOnly .btn,
body.historicalMode .currentModeOnly .dropdown-menu {
    display: none
}

.switchToCurrentTip {
    display: none
}

body.historicalMode .switchToCurrentTip {
    display: inline
}

.LogWithContext .highlight td {
    background-color: #FFFCE6
}

.tip {
    color: #49780D;
    padding: 2px 4px 2px 2px
}

.dropdown-menu>li.nav-header {
    padding-left: 20px
}

.alignRight .dropdown-menu,
.pull-right .dropdown-menu {
    left: auto;
    right: 0
}

.alignRight .dropdown-menu:before,
.pull-right .dropdown-menu:before {
    left: auto;
    right: 12px
}

.alignRight .dropdown-menu:after,
.pull-right .dropdown-menu:after {
    left: auto;
    right: 12px
}

.alignRight .dropdown-menu li,
.pull-right .dropdown-menu li {
    text-align: left
}

.hoverable:hover {
    background: #F8F8F8;
    cursor: pointer
}

.dropdown-menu {
    max-width: 800px;
    overflow-x: hidden
}

.dropdown-menu .nav-header {
    overflow-x: hidden;
    text-overflow: ellipsis
}

.dropdown-menu li a {
    overflow-x: hidden;
    text-overflow: ellipsis
}

.warn {
    color: #8B572A
}

input.error {
    color: #A60115;
    border-color: #A60115
}

.nav-header {
    color: #424242
}

.pagination-container .pagination {
    margin: 0;
    color: #787878
}

code {
    color: #424242;
    background: transparent;
    padding: 0
}

pre {
    word-break: normal
}

.bold {
    font-weight: bold
}

form {
    margin-bottom: 0
}

#searchFilterContainer>div:first-child {
    min-width: 480px
}

.bar-table td.legend {
    padding: 0 12px
}

.task-distribution {
    margin-top: 10px;
    padding: 10px
}

.task-distribution td.value {
    border: 1px solid #DCDCDC
}

.task-distribution td.value span {
    display: inline-block
}

.task-distribution td.value:hover {
    background-color: #F8F8F8 !important;
    cursor: pointer
}

.task-distribution td {
    text-align: center
}

.task-distribution td span {
    line-height: 50px;
    width: 50px
}

ol.ordered-link-list>li {
    display: inline
}

ol.ordered-link-list>li>a {
    white-space: nowrap
}

ol.ordered-link-list>li:after {
    content: ','
}

ol.ordered-link-list>li:last-child:after {
    content: ''
}

.actionables .level-1 {
    padding-top: 12px
}

.actionables .level-1>span {
    font-weight: bold;
    cursor: pointer
}

.actionables .level-2 {
    white-space: nowrap;
    max-width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 4px;
    padding-left: 16px
}

.license-form .filename {
    cursor: pointer
}

.typeahead.dropdown-menu {
    max-width: 800px;
    overflow-x: hidden
}

.tooltip {
    font-size: 14px;
    z-index: 3000;
    white-space: normal
}

.nav-header {
    text-transform: none;
    font-size: 14px
}

ul.counter-icon-list li {
    display: inline
}

#allHealthIssuesPanel ul.issues-list>li,
#allConfigIssuesPanel ul.issues-list>li {
    padding-left: 20px
}

.global-spinner-well.well.modal {
    border: 1px solid transparent;
    top: 50%;
    background-color: transparent;
    color: #FFFFFF;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: -24px;
    opacity: 1;
    filter: alpha(opacity=100)
}

.global-spinner-well.well.modal i {
    margin: 8px
}

.typeahead.entity-search-menu .category {
    display: inline-block;
    width: 150px;
    min-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis
}

#clustersLinks>.dropdown-menu {
    max-width: 600px;
    width: 600px
}

#clustersLinks>.dropdown-menu>li>.dropdown-menu {
    position: static;
    border-width: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

#clustersLinks.open>.dropdown-menu>li>.dropdown-menu {
    display: inline-block
}

#clustersLinks .cell:first-child .cluster-inner-menu {
    width: 280px
}

.cluster-inner-menu {
    list-style: none;
    width: 320px;
    padding: 8px 0;
    margin: 0
}

.cluster-inner-menu li {
    padding-left: 12px;
    padding-right: 12px
}

.cluster-inner-menu li+.nav-header {
    margin-top: 0
}

.cluster-inner-menu li a {
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 4px 20px;
    clear: both;
    color: #424242;
    white-space: nowrap
}

.cluster-inner-menu li a:hover {
    color: #FFFFFF;
    background-color: #0B7FAD
}

.monospace {
    font-family: Roboto Mono, Menlo, Monaco, Consolas, "Courier New", monospace
}

.toggle-expansion-collapse-icon {
    display: inline-block
}

.toggle-expansion-expand-icon {
    display: none
}

.toggle-expansion-collapsed {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

.toggle-expansion-collapsed .toggle-expansion-collapse-icon {
    display: none
}

.toggle-expansion-collapsed .toggle-expansion-expand-icon {
    display: inline-block
}

.dropdown-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

li.accordion .accordion-group .accordion-heading a {
    color: #0B7FAD
}

li.accordion .accordion-group .accordion-heading a:hover {
    color: #186485
}

.file-inputs input[readonly] {
    cursor: pointer
}

.host-group-role-and-label li {
    display: inline-block;
    white-space: nowrap
}

.host-group-role-and-label li span {
    cursor: default
}

pre.regular-command>span:before {
    content: '$'
}

pre.root-command>span:before {
    content: '#'
}

pre.regular-command>span:before,
pre.root-command>span:before {
    margin-right: 12px;
    font-weight: bold;
    color: #A0A0A0
}

@media print {
    a[href]:after {
        content: none !important
    }
}

.cui-paper>.table th {
    background-color: #FFFFFF
}

.cui-paper>.table td:first-child,
.cui-paper>.table th:first-child {
    padding-left: 0
}

.cui-paper>.table td:last-child,
.cui-paper>.table th:last-child {
    padding-right: 0
}

.cui-paper h2 {
    margin-top: -4px
}

.cui-dashboard .row-fluid [class*="span"]:first-child {
    margin-left: 0
}

.cui-dashboard .row-fluid [class*="span"] {
    margin-left: 24px
}

.cui-title-bar {
    height: inherit
}

dd {
    margin-left: 0
}

dd ul {
    margin-bottom: 0
}