.header {
    color: #202125;
    margin-bottom: 40px;
}
.header h2 {
    font-weight: 600;
}
.header p {
    font-weight: 300;
}
.wrapper {
    max-width: 1200px;
    min-width: 700px;
    margin: 0 auto;
    padding: 40px;
}

.gantt {
    display: grid;
    border: 0;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 75px 125px -57px #7e8f94;
}

.gantt--row {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: #fff;
}
.gantt--row:nth-child(odd) {
    background-color: #f5f5f5;
}
.gantt--row:nth-child(odd) .gantt--row-first {
    background-color: #f5f5f5;
}
.gantt--row:nth-child(3) .gantt--row-bars {
    border-top: 0;
}
.gantt--row:nth-child(3) .gantt--row-first {
    border-top: 0;
}
.gantt--row--empty {
    background-color: #ffd6d2 !important;
    z-index: 1;
}
.gantt--row--empty .gantt--row-first {
    border-width: 1px 1px 0 0;
}

.gantt--row--lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.gantt--row--lines span {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.gantt--row--lines span.marker {
    background-color: rgba(10, 52, 68, 0.13);
    z-index: 2;
}
.gantt--row--lines:after {
    grid-row: 1;
    grid-column: 0;
    background-color: #1688b345;
    z-index: 2;
    height: 100%;
}
.gantt--row--lines-repeat-weeks {
    grid-template-columns: 150px repeat(7, 1fr);
}
.gantt--row--lines-repeat-months {
    grid-template-columns: 150px repeat(31, 1fr);
}
.gantt--row--lines-repeat-years {
    grid-template-columns: 150px repeat(12, 1fr);
}

.gantt--row--years {
    color: #fff;
    background-color: #0a3444 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    grid-template-columns: 150px repeat(12, 1fr);
}
.gantt--row--years .gantt--row-first {
    border-top: 0 !important;
    background-color: #0a3444 !important;
}
.gantt--row--years span {
    text-align: center;
    font-size: 13px;
    align-self: center;
    font-weight: bold;
    padding: 20px 0;
}

.gantt--row--months {
    color: #fff;
    background-color: #0a3444 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    grid-template-columns: 150px repeat(31, 1fr);
}
.gantt--row--months .gantt--row-first {
    border-top: 0 !important;
    background-color: #0a3444 !important;
}
.gantt--row--months span {
    text-align: center;
    font-size: 13px;
    align-self: center;
    font-weight: bold;
    padding: 20px 0;
}

.gantt--row--weeks {
    color: #fff;
    background-color: #0a3444 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    grid-template-columns: 150px repeat(7, 1fr);
}
.gantt--row--weeks .gantt--row-first {
    border-top: 0 !important;
    background-color: #0a3444 !important;
}
.gantt--row--weeks span {
    text-align: center;
    font-size: 13px;
    align-self: center;
    font-weight: bold;
    padding: 20px 0;
}

.gantt--row-first {
    background-color: #fff;
    border-width: 1px 0 0 0;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    padding: 15px 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.gantt--row-bars {
    list-style: none;
    display: grid;
    padding: 9px 0;
    margin: 0;
    grid-gap: 8px 0;
    border-top: 1px solid rgba(221, 221, 221, 0.8);
}
.gantt--row-bars li {
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    min-height: 15px;
    background-color: #55de84;
    padding: 5px 12px;
    color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
}
.gantt--row-bars li.stripes {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .1) 5px, rgba(255, 255, 255, .1) 12px);
}
.gantt--row-bars li:before, .gantt--row-bars li:after {
    content: "";
    height: 100%;
    top: 0;
    z-index: 4;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}
.gantt--row-bars li:before {
    left: 0;
}
.gantt--row-bars li:after {
    right: 0;
}

.gantt--row-bars-rep-weeks {
    grid-template-columns: repeat(7, 1fr);
}
.gantt--row-bars-rep-months {
    grid-template-columns: repeat(31, 1fr);
}
.gantt--row-bars-rep-years {
    grid-template-columns: repeat(12, 1fr);
}