.clearfix {
    *zoom: 1
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.Fill {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.cui-login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    width: 692px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 39px;
    padding-right: 75px;
    padding-bottom: 51px;
    padding-left: 75px
}

.cui-login-form input[type=text],
.cui-login-form input[type=password] {
    padding-top: 11px;
    padding-right: 19px;
    padding-bottom: 11px;
    padding-left: 19px;
    height: 44px
}

.cui-login-form .btn {
    height: 44px
}

.cui-login-form input[type=text],
.cui-login-form input[type=password],
.cui-login-form .btn {
    margin-top: 16px;
    margin-bottom: 4px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background-color: #F8F8F8
}